.header-container {
  background-color: #ab95f9;
  padding: 2rem 4rem 0 4rem;
  .header-content {
    min-height: 72px;
    padding: 1.4rem 4rem;
    display: flex;
    align-items: center;
    justify-content: start;
    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      img {
        height: 27px;
      }
    }
  }
  @media (max-width: 576px) {
    padding: 0;
    .header-content {
      padding-left: 1.1rem;
      padding-right: 1.1rem;
    }
  }
}
