<div class="hero-container">
  <ion-grid>
    <!-- content -->
    <ion-row>
      <ion-col>
        <div class="hero-content">
          <h1 class="title">Discover the magic of our surprise box</h1>
          <p class="description">
            Unleash your child’s curiosity with our educational subscription box
            filled with fun and learning.
          </p>
          <ion-button [routerLink]="['/subscribe']">Subscribe Now</ion-button>
        </div>
      </ion-col>
    </ion-row>

    <!-- image -->
    <ion-row>
      <ion-col>
        <div class="hero-image">
          <img src="assets/images/hero-img.png" alt="hero-img" />
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
